<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
   
    <section class="container">
      <div class="page-heading">
        <h1>Front Page - Today</h1>
        <hr class="headline">
      </div>
      <section class="articles">
        <% articles.forEach(function(article){ %>
          <% if(article.title !== 'Article Title Missing'){ %>
            <div>
               <a class="article" href="<%= article.publication_id.base_url + article.link %>" target="_blank" >
                  <div class="article-content-image">
                    <img src="/images/article.jpg">
                  </div>
                  <div class="article-text">
                    <h2><%= article.title%></h2>

                  <p><span class="muted-text">
                    <span class="link-text"><i class="far fa-newspaper"></i> 
                    <%= article.publication_id.title%> </span> | <i class="far fa-clock"></i> 
                    Retrieved <%= moment(article.retrieved_on).fromNow();%></span></p>
                  <p class="article-blurb"><%= article.blurb%> </p> 
                  </div>            
              </a>                   
            </div>                   
         <% } %>
        <% }); %>       
      </section>     
    </section> 
  </body>
</html>
